/* RecipeFinder.css */

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    max-width: 500px; /* Set a maximum width for the search input */
    width: 50%; /* Default width to 50% */
    margin-left: auto; /* Center the input horizontally */
    margin-right: auto;
  }
  
  .meal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .meal-card {
    text-align: center;
    margin: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .meal-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .meal-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  

  /* Pagination Styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  font-size: 16px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .meal-card {
    width: 150px; /* Smaller cards on mobile */
  }

  .search-input {
    width: 80%; /* Wider search input on mobile */
  }

  .pagination button {
    font-size: 14px; /* Smaller pagination buttons on mobile */
    padding: 6px 12px;
  }

  .pagination span {
    font-size: 14px; /* Smaller page number on mobile */
  }
}